* {
   max-width: 100%;
    
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(245, 2, 51, 0.979);
}
@font-face {
    font-family: gloomy;
    src: url(../assets/Gloomy\ Things.otf);
}
@font-face {
    font-family: kaushan;
    src: url(../assets/KaushanScript-Regular.ttf);
}

header {
    position: relative;
}


li {
    list-style: none;
    
}

.instagram {
    position: fixed;
    margin-top: 50%;
    right: 8%;
}

.whatsapp {
    position: fixed;
    margin-top: 65%;
    right: 8%;
}
h3{
    text-align: center;
    font-family: kaushan;
}
p{
    font-size: 14px;
    text-align: center;
    font-family: gloomy;
}

body {
    background-color: rgb(19, 6, 56);
}

.foto1,
.foto2,
.foto3,
.foto4 {
    width: 80%;
    height: 40%;
font-family: gloomy;


}

